<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Création de la facture</title>
</head>
<body>
<form method="POST" th:action="@{/invoice/create}" th:object="${invoiceForm}">
    <p>Customer name<input th:field="*{customerName}" type="text"/></p>
    <div th:errors="*{customerName}" th:if="${#fields.hasErrors('customerName')}"></div>
    <p>Order number<input th:field="*{orderNumber}" type="text"/></p>
    <div th:errors="*{orderNumber}" th:if="${#fields.hasErrors('orderNumber')}"></div>
    <div></div>
    <input type="submit" value="OK"/>
</form>
</body>
</html>